.interstellarium-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.interstellarium-dashboard {
    display: flex;
    align-items: stretch;
    width: 100%;
}

.interstellarium-dashboard-sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: auto;
}

.interstellarium-dashboard-sidebar.hidden {
    display: none;
}

.interstellarium-dashboard-main {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    overflow: auto;
}

.interstellarium-dashboard-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}



@media (min-width: 768px) {
    .interstellarium-dashboard-sidebar {
        width: 25%;
    }

    .interstellarium-dashboard-main {
        width: 75%;
    }

    .interstellarium-dashboard-footer {
        display: none;
    }

    .interstellarium-dashboard-sidebar.hidden {
        display: flex;
    }
}

/*
.interstellarium-dashboard-header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.interstellarium-dashboard-logo-wrapper {
    margin-left: 25%;
    margin-right: 25%;
}

.interstellarium-dashboard-nav {
    align-self: stretch;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.interstellarium-dashboard-logo {
    font-family: var(--interstellarium-special-font-family), sans-serif;
    font-size: min(5vh, 7vw);
    font-weight: 900;
    text-align: center;
    background: var(--interstellarium-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: var(--interstellarium-primary);
}

.interstellarium-dashboard-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: stretch;
}

@media (min-width: 576px) {
    .interstellarium-dashboard-logo {
        font-size: min(6vh, 7vw);
    }

    .interstellarium-dashboard {
        min-width: 50%;
        width: unset;
    }
}

@media (min-width: 768px) {
    .interstellarium-dashboard-logo {
        font-size: min(7vh, 7vw);
    }

    .interstellarium-dashboard {
        min-width: 50%;
    }
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}
*/