:root {
    --interstellarium-primary: #0575E6;
    --interstellarium-secondary: #021B79;
    --interstellarium-dark: #21232B;
    --interstellarium-tertiary: #495057;
    --interstellarium-light-grey: #AAA;
    --interstellarium-gradient: linear-gradient(135deg, #0575E6 40%, #021B79 110%);
    --interstellarium-base-font-family: 'Nunito';
    --interstellarium-special-font-family: 'Rubik Vinyl';
}

html, body {
    min-height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: stretch;
}

body.dashboard, #app.dashboard {
    width: 100%;
}

.btn-interstellarium,
.btn-interstellarium:hover,
.btn-interstellarium:active,
.btn-interstellarium:focus-visible {
    background: var(--interstellarium-gradient);
    color: #FFFFFF !important;
    font-family: var(--interstellarium-base-font-family), sans-serif;
    outline: none;
}

.btn {
    font-family: var(--interstellarium-base-font-family), sans-serif;
}

.interstellarium-link {
    cursor: pointer;
}


@media (min-width: 576px) {
    :root {
    }
}

@media (min-width: 768px) {
    :root {
    }
}

@media (min-width: 992px) {
    :root {
    }
}

@media (min-width: 1200px) {
    :root {
    }
}
